@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Couchbase Workshop .NET SDK</h1>
    <p class="lead">Introducing Multi-Dimensional Scaling
    <br/>Coming in Couchbase Server 4.0
    <br/>Independently Scale Query, Index, and Data Services</p>
    <p><a href="http://couchbase.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Official Couchbase .NET SDK</h2>
        <p>
            Open Source Couchbase SDK for .NET!
        </p>
        <p><a class="btn btn-default" href="https://github.com/couchbase/couchbase-net-client">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>.</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>.</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>